
.main-container {
  min-height: 100vh;
  background: #070A11;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

.coming-soon {
  font-family: 'Parisienne', cursive;
  color: #F7F8F6;
}

.vertical-align{
  margin-top: 1%;
  .logo{
    max-width: 100%;
  }
}

.social-icons{
  margin-top: 5%;
  a{
    margin-left: 10px;
    margin-right: 10px;
    i{
      font-size: 30px;
      color: #F7F8F6;
    }
  }
}